/* Font definitions */

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf") format("truetype");
  src: url("../fonts/JetBrainsMono/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/JetBrainsMono/ttf/JetBrainsMono-Bold.ttf") format("truetype");
  src: url("../fonts/JetBrainsMono/webfonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
    font-family: JetBrainsMono;
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/JetBrainsMono/ttf/JetBrainsMono-Italic.ttf") format("truetype");
    src: url("../fonts/JetBrainsMono/webfonts/JetBrainsMono-Italic.woff2") format("woff2");
}

@font-face {
    font-family: JetBrainsMono;
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/JetBrainsMono/ttf/JetBrainsMono-BoldItalic.ttf") format("truetype");
    src: url("../fonts/JetBrainsMono/webfonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
}