/* Global website styling */

:root {
    --text-color: #ffffff;
    --body-bg: #020206;
    --main-bg: #1b1b1b5c;
    --card-bg: #101010;
    --accent-color: #aa7cff;

    --sidebar-size: 18%;
    --border-radius: .75em;
    --global-spacing: 1.5em;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
html {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'JetBrainsMono', monospace;
}

a {
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}

body {
    height: 100vh;
    background-color: var(--body-bg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-color);
}

img {
    /* alt-text display */
    background-color: #15171A;
    color: #898989;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--main-bg);
    height: 80vh;
    min-height: 720px;
    border-radius: var(--border-radius);
    aspect-ratio: 16/9;
    padding: var(--global-spacing);
}

.copyright {
    width: 100vw;
    text-align: center;
    position: absolute;
    bottom: 1.525em;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    gap: calc(var(--global-spacing) + 1em);
}

.card:nth-child(1) {
    background-color: #00000000;
}

.card {
    background-color: var(--card-bg);
    height: 100%;
    border-radius: var(--border-radius);
}

.profile {
    width: var(--sidebar-size);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    padding: 1em;
    gap: 2em;
    height: auto;
}

.profile>.picture {
    width: 100%;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
}

.profile>.name-display {
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: center;
    gap: .75em;
    position: relative;
}

.profile>.name-display>div.cool-bg {
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

.profile>.name-display img {
    height: 100%;
    aspect-ratio: 1;
    scale: .8;
}

.profile>.name-display>.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile>.name-display>.name>h1 {
    display: inline-block;
    text-align: left;
    font-size: 1.1em;
}

.profile>.name-display>.pronouns {
    position: absolute;
    right: -2.15em;
    bottom: -.5em;
    transform: rotate(-10deg);
}

.bold {
    font-weight: 600;
}

.cool-bg {
    background-color: #15171A;
    border-radius: 6px;
}

h1.cool-bg {
    padding: 4px;
}

.content {
    padding: var(--global-spacing);
    width: calc(100% - var(--sidebar-size));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

/* Navigation */

.menu {
    width: 100%;
    height: 3.5em;
    background-color: #15171A;
    border-radius: var(--border-radius);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu>label {
    cursor: pointer;
}

.menu>label:hover {
    text-decoration: underline;
}

.menu>input[type="radio"] {
    display: none;
}

.menu>input[type="radio"]:checked+label {
    color: var(--accent-color);
}

/* Navigation pages display */
.content>.page>div {
    display: block;
}

.content:has(.menu>#menu-about:checked)>.page>#about-page {
    display: none;
}