:root {
    --background: #020207;
    --text: #ffffff;
    
    --warning: #a0a0a0;
    --warning_anim-speed: 3.25s;

    --hi_gap: 4.75rem;
    --hi_wave-size: 14.625rem;
    --hi_anim-delay: 3s;
    --hi_anim-speed: 2.625s;
    --hi_wave-freq: 1.25s;

    --hi_page-anim-delay: 7.7125s;
    --present_page-anim-delay: 2.875s;
    /* --hi_page-anim-delay: 0s; */
    /* --present_page-anim-delay: 0s; */

    --fullscreen-text_page-anim-delay: 2.73s;
    --fullscreen-final_page-anim-delay: 0.875s;

    --total-anim-delay: calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay) + var(--fullscreen-text_page-anim-delay) + var(--fullscreen-final_page-anim-delay));
}

@keyframes page_dissapear {
    to { min-height: 0px; max-height: 0px; }    
}

.pre-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    background-color: var(--background);
    animation: page_dissapear 0s linear var(--total-anim-delay) forwards;
}

@media (prefers-reduced-motion: reduce) {
    .pre-content {
        animation: page_dissapear 0s linear 0s forwards;
    }
}

.pre-content .anim {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
    gap: var(--hi_gap);
}

.pre-content .text {
    color: var(--text);
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;
    text-transform: uppercase; 
}

.pre-content .text.bold {
    font-weight: 900;
}

.pre-content .text.italic {
    font-style: italic;
    font-weight: lighter;
}

/* Warning label */

@keyframes fade_in_out {
    0% { opacity: 0; transform: scale(.9); }
    35%, 85% { opacity: 1; transform: none; }
    100% { opacity: 0; transform: translateY(-2dvh); }
}

.pre-content .warning {
    position: absolute;
    top: 10dvh;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    color: var(--warning);
    font-weight: bold;
    font-size: 1.5rem;
    text-rendering: optimizeLegibility;
    opacity: 0;
    animation: fade_in_out var(--warning_anim-speed) cubic-bezier(0.075, 0.82, 0.165, 1) .5s forwards;
}

/* Hi (1) animation */

@keyframes fade_in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.pre-content .anim.hi {
    animation: page_dissapear 0s linear var(--hi_page-anim-delay) forwards;
}

.pre-content .anim.hi .pre-img {
    transform-origin: calc(var(--hi_wave-size) / 1.25) calc(var(--hi_wave-size) / 1.25);
    animation: waving var(--hi_wave-freq) ease-in-out var(--hi_anim-delay) infinite;
}

@keyframes waving {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.pre-content .anim.hi img {
    width: var(--hi_wave-size);
    height: var(--hi_wave-size);

    object-fit: cover;
    object-position: center;
    opacity: 0;
    animation: fade_in 1s ease-in-out calc(var(--hi_anim-delay) + var(--hi_anim-speed)) forwards;
}

@keyframes hi_out-of-way {
    0% {
        transform: translate(calc((var(--hi_wave-size) / 2 + var(--hi_gap) / 2)), -10px);
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        transform: translate(calc((var(--hi_wave-size) / 2 + var(--hi_gap) / 2)), -10px);
        opacity: 1;
    }
    85% {
        transform: translate(calc((var(--hi_wave-size) / 2 + var(--hi_gap) / 2)), 0px);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.pre-content .text.hi {
    text-align: center;
    font-size: 17.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 16.875rem; 
    letter-spacing: 0.85938rem;
    text-transform: lowercase;
    opacity: 0;
    animation: hi_out-of-way var(--hi_anim-speed) cubic-bezier(0.19, 1, 0.22, 1) var(--hi_anim-delay) forwards;
}

@media (max-width: 725px) {
    @keyframes hi_out-of-way2 {
        0% {
            transform: translate(0, calc(var(--hi_wave-size) / 2 + var(--hi_gap) / 2));
            opacity: 0;
        }
        40% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        75% {
            transform: translate(0, calc(var(--hi_wave-size) / 2 + var(--hi_gap) / 2));
            opacity: 1;
        }
        90% {
            transform: translate(0, -10px);
            opacity: 1;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    .pre-content .anim.hi {
        flex-direction: column;
    }
    .pre-content .text.hi {
        animation: hi_out-of-way2 var(--hi_anim-speed) cubic-bezier(0.19, 1, 0.22, 1) var(--hi_anim-delay) forwards;
    }
}

/* Present (1.5) animation */

.pre-content .anim.present {
    animation: page_dissapear 0s linear calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay)) forwards;
}

@keyframes present_pop-in {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    65% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}

.pre-content .anim.present .text {
    font-size: 5rem;
    font-family: 'Inter', sans-serif;
    text-transform: none;
    animation: present_pop-in .75s cubic-bezier(0.075, 0.82, 0.165, 1) var(--hi_page-anim-delay) forwards;
}

/* Fullscreen text (2) animation */

.pre-content .anim.fullscreen-text {
    flex-direction: column;
    overflow: hidden;
    height: 100dvh;
    animation: page_dissapear 0s linear calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay) + var(--fullscreen-text_page-anim-delay)) forwards;
}

.pre-content .anim.fullscreen-text > * {
    line-height: 15.875rem; /* 82.353% */
    height: 33%;
    font-size: 24.5625rem;
    letter-spacing: 1.32813rem; 
    font-weight: 500;
}

@keyframes type_welcome {
    0.00% { content: 'w'; }
    39.33% { content: 'we'; }
    47.19% { content: 'wel'; }
    62.92% { content: 'welc'; }
    76.40% { content: 'welco'; }
    92.13% { content: 'welcom'; }
    100.00% { content: 'welcome'; }
}

.pre-content > .anim.fullscreen-text > .welcome::before {
    content: "";
    opacity: 1;
    font-weight: 100;
    animation: type_welcome .73s linear calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay)) forwards;
    color: #fff;
}

.pre-content > .anim.fullscreen-text > *:nth-child(2) {
    opacity: 0;
    transform: translateX(-25vw);
    animation: fade_in 0s linear calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay) + 1.5s) forwards;
}

.pre-content > .anim.fullscreen-text > *:nth-child(3) {
    opacity: 0;
    transform: translateX(25vw);
    animation: fade_in 0s linear calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay) + 1.875s) forwards;
}

/* Final flashing text (3) animation */

.pre-content > .anim.fullscreen-final {
    animation: page_dissapear 0s linear calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay) + var(--fullscreen-text_page-anim-delay) + var(--fullscreen-final_page-anim-delay)) forwards;
}

.pre-content > .anim.fullscreen-final {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.pre-content > .anim.fullscreen-final > .container {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pre-content > .anim.fullscreen-final > .container:nth-child(even) {
    background-color: var(--background);
}

.pre-content > .anim.fullscreen-final > .container > .text {
    color: var(--background);
    font-size: 40dvw;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 900;
}

.pre-content > .anim.fullscreen-final > .container:nth-child(even) > .text {
    color: var(--text);
}

.pre-content > .anim.fullscreen-final > .container:nth-child(1) {
    animation: page_dissapear 0s linear calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay) + var(--fullscreen-text_page-anim-delay) + .125s) forwards;
}

.pre-content > .anim.fullscreen-final > .container:nth-child(2) {
    animation: page_dissapear 0s linear calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay) + var(--fullscreen-text_page-anim-delay) + .25s) forwards;
}

.pre-content > .anim.fullscreen-final > .container:nth-child(3) {
    animation: page_dissapear 0s linear calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay) + var(--fullscreen-text_page-anim-delay) + .375s) forwards;
}

.pre-content > .anim.fullscreen-final > .container:nth-child(4) {
    animation: page_dissapear 0s linear calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay) + var(--fullscreen-text_page-anim-delay) + .5s) forwards;
}

.pre-content > .anim.fullscreen-final > .container:nth-child(5) {
    animation: page_dissapear 0s linear calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay) + var(--fullscreen-text_page-anim-delay) + .625s) forwards;
}

.pre-content > .anim.fullscreen-final > .container:nth-child(6) {
    animation: page_dissapear 0s linear calc(var(--hi_page-anim-delay) + var(--present_page-anim-delay) + var(--fullscreen-text_page-anim-delay) + .75s) forwards;
}